*{
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma ;
    box-sizing: border-box;
}
#container{
    min-height: 100vh;
    width: 100%;
    background-color:rgb(207, 85, 85);
    display: flex;
    
    
}

.tags{
    height:15vh ;
    width: 100vw;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
}
.tags li{
    list-style: none;

}
.tags li a{
    text-decoration: none;
    color: white;
    position: relative;
}
#container1, #container2{
    height: 100vh;
    display: flex;
    align-items: center;
}

#container1{
width: 75%;
background-color:black;
padding-left: 7%;
}

#container2{
width: 25%;
background: linear-gradient(-90deg,dodgerblue,black)
}
#icons{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
 
}

#icons .fa-brands{
    font-size: 2em;
    color:dodgerblue;
}
#icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(white, darkblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content{
    margin-left: 5%;
    color: white;
    overflow: auto;
}

.content .para1{
    font-size: 1.2rem;
    font-family: cursive;
    margin-bottom: 1rem;
}

.content .para2{
    font-size: 1.2rem;
    font-family: cursive;
    margin: 1rem 0 2rem;
    line-height: 2rem;
}

.content h1{
    font-size: 3rem;
    font-style: italic;
    font-family: "DM Serif Display", serif;
    font-weight:  900;
    color: dodgerblue; ;
}

.content .para1 strong{
    font-size: x-large;
}

.button-container button{
    border: 3px doted dodgerblue;
    height: 3rem;
    width: 9rem;
    border-radius: 15px;
    background-color: dodgerblue;
    font-weight: 800;
    cursor: pointer;
    transition-duration: .6s;
}
button:hover{
    background: transparent;
    color: dodgerblue;

}
.design{
    width: 23rem;
    height: 23rem;
    aspect-ratio: 1;
    background-color: rgb(74, 18, 18);
    border-radius: 45%;
    border: 2px solid rgb(60, 145, 230);
    position: absolute;
    top: 25%;
    left: 48%;
    transform: translate(+70%);
    overflow: auto;
    background-image:url(img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem #ffff,
     inset 0 0 1rem white,
    0 0 2rem dodgerblue,
    inset 0 0 2rem darkblue,
     0 0 3rem darkblue,
     inset 0 0 1rem darkblue
     ;
}

.tags li a::after, .tags .active::after{
    content: "";
    position: absolute;
    background-color: #ffff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scale(0);
    transition: transform .4s;
    transform-origin: bottom right;
}
.tags li a:hover::after, .tags .active::after{
    transform: scale(1);
    transform-origin: bottom right;
}